<section class="bg-gray-900 flex flex-grow justify-around">
    <div class="flex flex-col gap-5 py-8 px-8 md:px-16 lg:px-32 w-full">
        <div>
            <div class="flex items-end justify-between py-4">
                <%- include("./breadCrumbs.ejs")%>
                <%- include("./tableHeader.ejs")%>
            </div>
            <%- include("./table.ejs")%>
        </div>
    </div>
</section>
<%- include("./uploadFileModal.ejs")%>
<%- include("./newFolderModal.ejs")%>
<%- include("./updateItemModal.ejs")%>
<%- include("./deleteItemModal.ejs")%>
<%- include("./toastContainer.ejs")%>
