
    <% if (content.length) { %>
        <!-- Desktop view -->
        <div class="hidden md:block rounded-md">
            <div class="sticky top-0 z-10 bg-gray-700 text-gray-400 text-xs font-bold uppercase flex">
                <div class="px-6 py-3 w-1/2 flex items-center">Name</div>
                <div class="px-6 py-3 flex-1 flex items-center">Shared</div>
                <div class="px-6 py-3 flex-1 flex items-center">Last modified</div>
                <div class="px-6 py-3 flex-1 flex items-center">File size</div>
                <div class="px-6 py-3 w-12">
                    <span class="sr-only">Edit</span>
                </div>
            </div>
            
            <div class="overflow-y-auto text-sm">
                <% for (const item of content) { %>
                    <div class="border-b border-gray-700 hover:bg-gray-800 flex items-center text-gray-400" id="<%= item.id %>">
                        <% if (item.type == "folder") { %>
                            <div class="w-1/2">
                                <a href="/my-drive/<%= item.id ? item.id : null %>" class="flex items-center gap-4 px-6 py-4 font-medium whitespace-nowrap text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                        <path d="M19.5 21a3 3 0 0 0 3-3v-4.5a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3V18a3 3 0 0 0 3 3h15ZM1.5 10.146V6a3 3 0 0 1 3-3h5.379a2.25 2.25 0 0 1 1.59.659l2.122 2.121c.14.141.331.22.53.22H19.5a3 3 0 0 1 3 3v1.146A4.483 4.483 0 0 0 19.5 9h-15a4.483 4.483 0 0 0-3 1.146Z" />
                                    </svg>
                                    <%= item.name %>
                                </a>
                            </div>
                        <% } else { %>
                            <div class="w-1/2">
                                <div class="flex items-center gap-4 px-6 py-4 font-medium whitespace-nowrap text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m2.25 0H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
                                    </svg>
                                    <%= item.name %>
                                </div>
                            </div>
                        <% } %>
                        <div class="px-6 py-4 flex-1 flex items-center">
                            <% if (item.type == "file" && shareLink || item.shareId) { %>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="ml-4 size-4 text-blue-400">
                                    <path fill-rule="evenodd" d="M12 20a7.966 7.966 0 0 1-5.002-1.756l.002.001v-.683c0-1.794 1.492-3.25 3.333-3.25h3.334c1.84 0 3.333 1.456 3.333 3.25v.683A7.966 7.966 0 0 1 12 20ZM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10c0 5.5-4.44 9.963-9.932 10h-.138C6.438 21.962 2 17.5 2 12Zm10-5c-1.84 0-3.333 1.455-3.333 3.25S10.159 13.5 12 13.5c1.84 0 3.333-1.455 3.333-3.25S13.841 7 12 7Z" clip-rule="evenodd"/>
                                </svg>
                            <% } %>
                        </div>
                        <div class="px-6 py-4 flex-1"><%= item.updatedAt %></div>
                        <div class="px-6 py-4 flex-1"><%= item.size ? item.size : null %></div>
                        <div class="px-6 py-4 w-12 flex justify-center">
                            <button 
                                data-popover-target="dropdown-<%= item.id %>" 
                                class="text-white text-center inline-flex items-center" 
                                type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 cursor-pointer">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z" />
                                </svg>
                            </button>
                            <div
                                data-popover
                                role="tooltip"
                                id="dropdown-<%= item.id %>"
                                class="z-10 absolute invisible divide-y divide-gray-800 rounded-lg w-44 bg-gray-700 transition-opacity duration-500">
                                <%- include("./actionMenu.ejs", { item }) %>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    
        <!-- Mobile view - similar fix -->
        <div class="block md:hidden">
            <div class="bg-gray-700 text-gray-400 px-4 py-3 text-xs uppercase rounded-t-md sticky top-0 z-10">
                Files & Folders
            </div>
            <div class= overflow-y-auto rounded-b-md">
                <ul class="text-gray-400 divide-y divide-gray-700">
                    <% for (const item of content) { %>
                        <li class="hover:bg-gray-800" id="<%= item.id %>">
                            <div class="flex items-center p-4 justify-between">
                                <% if (item.type == "folder") { %>
                                    <a href="/my-drive/<%= item.id ? item.id : null %>" class="flex items-center gap-3 text-white">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                            <path d="M19.5 21a3 3 0 0 0 3-3v-4.5a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3V18a3 3 0 0 0 3 3h15ZM1.5 10.146V6a3 3 0 0 1 3-3h5.379a2.25 2.25 0 0 1 1.59.659l2.122 2.121c.14.141.331.22.53.22H19.5a3 3 0 0 1 3 3v1.146A4.483 4.483 0 0 0 19.5 9h-15a4.483 4.483 0 0 0-3 1.146Z" />
                                        </svg>
                                        <div>
                                            <div class="font-medium"><%= item.name %></div>
                                            <div class="text-xs text-gray-400 flex justify-center items-center">
                                                <%= item.updatedAt %>
                                                <% if (item.type == "file" && shareLink || item.shareId) { %>
                                                    •
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="ml-1 size-3 text-blue-400">
                                                        <path fill-rule="evenodd" d="M12 20a7.966 7.966 0 0 1-5.002-1.756l.002.001v-.683c0-1.794 1.492-3.25 3.333-3.25h3.334c1.84 0 3.333 1.456 3.333 3.25v.683A7.966 7.966 0 0 1 12 20ZM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10c0 5.5-4.44 9.963-9.932 10h-.138C6.438 21.962 2 17.5 2 12Zm10-5c-1.84 0-3.333 1.455-3.333 3.25S10.159 13.5 12 13.5c1.84 0 3.333-1.455 3.333-3.25S13.841 7 12 7Z" clip-rule="evenodd"/>
                                                    </svg>
                                                <% } %>
                                            </div>
                                        </div>
                                    </a>
                                <% } else { %>
                                    <div class="flex items-center gap-3 text-white">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m2.25 0H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
                                        </svg>
                                        <div>
                                            <div class="font-medium"><%= item.name %></div>
                                            <div class="text-xs text-gray-400 flex justify-center items-center">
                                                <%= item.updatedAt %> • <%= item.size ? item.size : 'Unknown size' %>
                                                <% if (item.type == "file" && shareLink || item.shareId) { %>
                                                    •
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="ml-1 size-3 text-blue-400">
                                                        <path fill-rule="evenodd" d="M12 20a7.966 7.966 0 0 1-5.002-1.756l.002.001v-.683c0-1.794 1.492-3.25 3.333-3.25h3.334c1.84 0 3.333 1.456 3.333 3.25v.683A7.966 7.966 0 0 1 12 20ZM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10c0 5.5-4.44 9.963-9.932 10h-.138C6.438 21.962 2 17.5 2 12Zm10-5c-1.84 0-3.333 1.455-3.333 3.25S10.159 13.5 12 13.5c1.84 0 3.333-1.455 3.333-3.25S13.841 7 12 7Z" clip-rule="evenodd"/>
                                                    </svg>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                                
                                <button 
                                    data-popover-target="dropdown-mobile-<%= item.id %>" 
                                    class="text-white text-center inline-flex items-center" 
                                    type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 cursor-pointer">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z" />
                                    </svg>
                                </button>
                                <div
                                    data-popover
                                    role="tooltip"
                                    id="dropdown-mobile-<%= item.id %>"
                                    class="z-10 absolute invisible divide-y divide-gray-800 rounded-lg w-44 bg-gray-700 transition-opacity duration-500">
                                    <%- include("./actionMenu.ejs", { item }) %>
                                </div>
                            </div>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    <% } else { %>
        <div class="bg-gray-700 text-gray-400 px-4 py-3 text-xs uppercase hidden md:block">
            <div class="grid grid-cols-4">
                <div>Name</div>
                <div>Last modified</div>
                <div>File size</div>
                <div><span class="sr-only">Edit</span></div>
            </div>
        </div>
        <div class="bg-gray-700 text-gray-400 px-4 py-3 text-xs uppercase md:hidden">
            Files & Folders
        </div>
        <div class="bg-gray-800 p-4 flex items-center gap-4 text-white">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m2.25 0H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
            </svg>
            No files or Folders
        </div>
    <% } %>